<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="author" content="Mark Nunberg">
    <meta name="description" content="mnunberg.github.io: {{page.description}}">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>{{page.title}}</title>
    <script type="text/javascript">
    if (document.location.host != 'localhost') {
      try {
        var _gaq = _gaq || [];
        var pluginUrl = 'http://www.google-analytics.com/plugins/ga/inpage_linkid.js';
        _gaq.push(['_require', 'inpage_linkid', pluginUrl])
        _gaq.push(['_setAccount', 'UA-41926651-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script');
          ga.type = 'text/javascript';
          ga.async = true;
          ga.src = 'http://www.google-analytics.com/ga.js';

          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);
        })();
      } catch (err) {}
    }
    </script>

  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1>{{page.title}}</h1>
        </header>

        <div clas="section" id="downloads" class="clearfix">
            <a href="https://github.com/mnunberg/">
                <img
                     style="position: absolute; top: 0; left: 0; border: 0;"
                     src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png"
                     alt="Fork me on GitHub">
            </a>
        </div>
        <hr>

        <div class="section" id="main_content">
            {{content}}
        </div>
      </div>
    </div>
  </body>
</html>
